@import 'header.css';
@import 'main.css';
@import 'main_search_buttons.css';
@import 'img_search.css';

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  font-size: 14px;
  font-family: Apple SD Gothic Neo, arial, sans-serif;
  color: #202124;
}
